body {
    height: 100vh;
    font-family: 'Alegreya Sans', sans-serif;
}
a {    
    text-decoration: none !important;
}
/* Navbar */
.navbar {
    background-color: rgba(21, 31, 33, 0.5);
    border-bottom: 1px solid #d1d1d1;
}
.navbar span {
    color: #fff;
}
.navbar .navbar-nav a{
    color: #d1d1d1;
    text-transform: uppercase;
}
.navbar .navbar-nav a:hover{
    color: #fff;
}
/* Header */
#header {
    background: url('/img/stars-bg.png') center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
}
#header .container {
    color: #fff;
}
.header-right {
    background-color: rgba(21, 31, 33, 0.5);
    border-radius: 15px;
    padding: 2rem;
}
#header h2 {
    margin-top: 1rem;
}
#header .fa-chevron-down {
    color: #fff;
    margin-top: 3rem;
}
#header .fa-chevron-down:hover {
    color: #d1d1d1;
}
/* Connect */
#connect .fab {
    border: 2px solid rgb(155, 36, 36);
    border-radius: 18px;
    color: rgb(155, 36, 36);
    height: 60px;
    font-size: 1.5rem;
    padding: 15px;
    width: 60px;
    text-align: center;
    margin-top: 10px;
}
#connect .fab:hover {
    color: #fff;
    background: rgb(155, 36, 36);
    transition: 0.5s ease-out;
}
/* Who */
#who, #why, #pricing {
    background: #d1d1d13a;
    padding: 5rem 0;
    overflow: hidden;
}
#connect, #customer, #contact {
    padding: 5rem 0;
}
#who .btn {
    width: 50%;
}
#who .btn:hover {
    background: #fff;
    color: rgb(155, 36, 36);
}
/* Work */
#work {
    padding: 5rem 0;
}
#work .card {
    margin-bottom: 15px;
}
#work .card-img {
    position: relative;

}
#work .layout-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('/img/eye.png') center no-repeat;
    opacity: 0;
}
#work .layout-img:hover {
    opacity: 1;
    transition: .3s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}
/* Why */
#why .fa, .far, .fas {
    color: rgb(155, 36, 36);
    margin: 20px 0;
}
/* Customer */
#customer .carousel-indicators {
    top: 8rem;
}
#customer .carousel-indicators li {
    background-color: rgb(155, 36, 36);
}
/* Pricing */
#pricing .card-header {
    background-color: rgba(21, 31, 33, 0.8);
    color: #fff;
}
#pricing .card-header {
    background-color: rgb(155, 36, 36);
}
/* Footer */
footer {
    background-color: #484848;
    color: #fff;
    padding: 1.5rem 0;
    overflow: hidden;
}
footer .fab {
   font-size: 1.2rem;
   margin-right: .8rem;
}
footer .fas, .far {
    color: #fff;
    margin-right: 10px;
}
footer .list-inline a{
    color: #fff;
}
.blockquote-footer {
    background-color: #fff;
}
/* Media */
@media(max-width: 768px) {
    #header, #connect, #who {
        text-align: center;
    }
    hr {
        width: 100%;
    }
    #work h2,p {
        text-align: center;
    }
}
